*{
    font-family: "NotoSansMNerdFont";
    font-style: initial;
    font-stretch: semi-condensed; 
    font-size: 1.0rem;
    min-height: 0;
    color: #FFFFFF;
}

window#waybar {
    background: transparent;
}

window#waybar.empty #window {
    background: #FF0000;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 15px;
}

#workspaces button {
    border-radius: 8px;
    margin-right: 2px;
    padding: 0px 0px;
    font-weight: 700;
    background-color: #1f0f13;
    box-shadow: none;
    text-shadow: none;
    border-color: #37151d;
    color: #1f0f13;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    padding: 0px;
    background: #852333;
    border-radius: 5px;
    box-shadow: none;
    text-shadow: none;
    border-color: #37151d;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.empty {
    opacity: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
    background: #51afe8;
    color: #000000;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background: #EF4434;
    color: #000000;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tooltip {
	color: white;
	background: #000000;
	opacity: 0.8;
	border-radius: 10px;
	border-width: 2px;
	border-style: hidden;
	border-color: white;
}

#tooltip label{
	color: #FFFFFF;
}

#tray,
#mpd,
#cpu, 
#temperature, 
#memory,
#backlight, 
#pulseaudio, 
#disk,
#battery, 
#clock,
#network {
	padding: 0 5px;
}
